<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to Schedule Tweets</h1>    
</div>

<!--button conect twitter-->

<%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>