<h1>Edit Scheduled Tweet</h1>


<%= render "form", tweet: @tweet %>

<!--Destroy the tweet-->
<%= form_with model: @tweet do |form| %>
<% if form.object.persisted? %>
    <%= button_to "Delete", form.object, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
  <%end%> 
  <%end%>