<h1>Terms Of Service</h1>

I <%= params[:user] %> agree to use this services according to this:

<p></p>

<p> 1- Do not post politican twitts </p>
<p> 2- Be polite and kind to all </p>
<p> 3- To not be racist </p>
<p> 4 - Respcect women rights </p>
<p> 5 - Respect children rights </p>

